@use "../../styles/variables" as *;

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coffeeBeans {
  display: flex;
  gap: 4px;
}

.bean {
  background: $stone-grey-400;
  border-radius: 50%;
  animation: coffeeLoading 1.4s infinite ease-in-out both;
  
  &:nth-child(1) {
    animation-delay: -0.32s;
  }
  
  &:nth-child(2) {
    animation-delay: -0.16s;
  }
  
  &:nth-child(3) {
    animation-delay: 0s;
  }
}

.sm {
  .bean {
    width: 6px;
    height: 6px;
  }
}

.md {
  .bean {
    width: 8px;
    height: 8px;
  }
}

.lg {
  .bean {
    width: 12px;
    height: 12px;
  }
}

@keyframes coffeeLoading {
  0%, 80%, 100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}